.footer__bot{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #BECBD6;
    border-top: 1px solid #2AA3D6;
    margin-top: 200px;
}



.title__footer--h4{
    padding: 73px 382px 30px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
 
.footer__logo{
    padding: 177px 166px 177px 0px;
    border-right: 1px solid #2AA3D6;
}
  
.footer__left{
    border-right: 1px solid #2AA3D6;
}

.footer__left--menu{
    padding: 30px;
    margin-bottom: 73px;
}

.footer__left--social{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 50px;
    border-top: 1px solid #2AA3D6;
}

.footer__menu--l{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
    max-width: 270px;
    max-height: 72px;
    gap: 30px;

}

.footer__right-top{
    max-width: 792px;
    max-height: 334px;
    padding-bottom: 113px;
    padding-left: 30px;
    border-bottom: 1px solid #2AA3D6;
    width: 100%;
}

.title__menu--r{
    padding-top: 95px;
    padding-bottom: 30px;
}

.footer__menu--r{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
    max-width: 425px;
    max-height: 88px ;
    gap: 30px;

    
}

.contact-icon{
    display: flex;
    align-content:center;
}

.footer__icon{
    padding-right: 20px;
}


.risurz{
    display: flex;
    gap: 80px;
    padding: 40px 200px 40px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #BECBD6;
    opacity: 0.6;
}

