.gallery{
margin: 323px 0 200px 0;
}

.examples__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.types{
    padding-bottom: 50px;
}

.gallery__examples{
    display: flex;

}

.gallery__examples--left{
    border-right: 1px solid #2AA3D6; 

}

.gallery__examples--img--l{
    padding: 50px 50px 50px 0;
    margin: 0;
}

.gallery__examples--img--r{
    padding: 50px 0px 50px 50px;
    margin: 0;
}

.border__right{
    border-top: 1px solid #2AA3D6;
    border-bottom: 1px solid #2AA3D6;
}

.border__left{
    border-top: 1px solid #2AA3D6;
}