.stats{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 250px;
    font-family: 'Inter';
    font-style: normal;
    color: #E7EDF2;
    border-bottom: 1px solid #2AA3D6;  
}

.stat__work1{
    max-width: 137px;
}

.stat__work2{
    max-width: 215px;
}

.stat__work3{
    max-width: 157px;
}

.stat__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.stat__title-s{
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.02em;
}

.stat__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #BECBD6;
    flex: none;
    order: 2;
    flex-grow: 0;
}